<!doctype html>
<head>
  <title>Jasmine(Rice) Spec Runner</title>
  <%= stylesheet_link_tag "jasmine", "spec" %>
  <%= requirejs_include_tag %>
  <%= javascript_include_tag "jasminerice", "spec" %>
  <%= csrf_meta_tags %>
</head>
<body>
</body>
</html>
