/* -------- Editable fields ----- */

span.untranslated {
  font-style: italic;
}

.editable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.editable-input, .in-place-form {
  display: block;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

.in-place-form-outer .form-buttons {
  margin: 5px 0;
}

.in-place-form h3.popover-title {
  font-size: 14px;
  font-weight: bold;
}

input.field {
  width: 100%;
}

textarea.field {
  width: 100%;
}

.editable-input {
  position: relative;
}

.editable-buttons {
  display: inline-block;
  vertical-align: top;
//  margin-left: 7px;
}

span.in-place-field {
  display: inline;
}

button.cancel-button {
//  margin-left: 5px;
}
