---
http_interactions:
- request:
    method: get
    uri: http://api.embed.ly/1/oembed?key=&urls=http://google.com/404.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Embedly-From-Cache:
      - '0'
      Etag:
      - ! '"e88c2ec20090fec1428369a0f97030bc3635fcb6"'
      X-Embedly-Process-Time:
      - '49'
      X-Embedly-Host:
      - api40
    body:
      encoding: US-ASCII
      string: ! '[{"url": "http://google.com/404.html", "error_code": 404, "error_message":
        "HTTP 404: Not Found", "type": "error", "version": "1.0"}]'
  recorded_at: Thu, 15 Aug 2013 07:22:11 GMT
recorded_with: VCR 2.5.0
