---
http_interactions:
- request:
    method: get
    uri: http://api.embed.ly/1/oembed?key=&urls=http://youtu.be/tzD9BkXGJ1M
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Embedly-From-Cache:
      - ''
      Etag:
      - '"9e470cd72ea56ae0deb4171a4cd416924ce4e6bd"'
      X-Embedly-Process-Time:
      - '2002'
      X-Embedly-Host:
      - api22
    body:
      encoding: UTF-8
      string: '[{"provider_url": "http://www.youtube.com/", "description": "What is
        CrossFit? CrossFit is an effective way to get fit. Anyone can do it. It is
        a fitness program that combines a wide variety of functional movements into
        a timed or scored workout. We do pull-ups, squats, push-ups, weightlifting,
        gymnastics, running, rowing, and a host of other movements.", "title": "What
        is CrossFit?", "url": "http://www.youtube.com/watch?v=tzD9BkXGJ1M", "author_name":
        "CrossFit\u00ae", "height": 480, "thumbnail_width": 480, "width": 854, "html":
        "<iframe width=\"854\" height=\"480\" src=\"http://www.youtube.com/embed/tzD9BkXGJ1M?feature=oembed\"
        frameborder=\"0\" allowfullscreen></iframe>", "author_url": "http://www.youtube.com/user/CrossFitHQ",
        "version": "1.0", "provider_name": "YouTube", "thumbnail_url": "http://i1.ytimg.com/vi/tzD9BkXGJ1M/hqdefault.jpg",
        "type": "video", "thumbnail_height": 360}]'
  recorded_at: Wed, 20 Aug 2008 12:20:00 GMT
- request:
    method: get
    uri: http://api.embed.ly/1/extract?key=&urls=http://youtu.be/tzD9BkXGJ1M
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Embedly-From-Cache:
      - ''
      Etag:
      - '"84e68a278127ea7aec1f2a1971f014a8643a04df"'
      X-Embedly-Process-Time:
      - '3179'
      X-Embedly-Host:
      - api00
      X-Trace:
      - 1BB26AE4FB58CAEC3B2D5944B703F705EF11A122174DB885ED23722DD7
    body:
      encoding: UTF-8
      string: '[{"provider_url": "http://www.youtube.com/", "description": "What is
        CrossFit? CrossFit is an effective way to get fit. Anyone can do it. It is
        a fitness program that combines a wide variety of functional movements into
        a timed or scored workout. We do pull-ups, squats, push-ups, weightlifting,
        gymnastics, running, rowing, and a host of other movements.", "embeds": [],
        "safe": true, "provider_display": "www.youtube.com", "related": [], "favicon_url":
        "http://s.ytimg.com/yts/img/favicon-vfldLzJxy.ico", "authors": [], "images":
        [{"caption": null, "url": "http://i1.ytimg.com/vi/tzD9BkXGJ1M/hqdefault.jpg",
        "height": 360, "width": 480, "colors": [{"color": [12, 11, 13], "weight":
        0.4462890625}, {"color": [115, 95, 99], "weight": 0.2177734375}, {"color":
        [59, 47, 49], "weight": 0.205078125}, {"color": [183, 150, 153], "weight":
        0.071533203125}, {"color": [232, 198, 197], "weight": 0.059326171875}], "entropy":
        5.00012303123, "size": 26572}, {"caption": null, "url": "https://lh5.googleusercontent.com/-0NAnc68fpH8/AAAAAAAAAAI/AAAAAAAAAAA/RmHdcX3T9lA/s48-c-k/photo.jpg",
        "height": 48, "width": 48, "colors": [{"color": [172, 31, 42], "weight": 0.464599609375},
        {"color": [238, 241, 240], "weight": 0.056640625}, {"color": [211, 166, 168],
        "weight": 0.041259765625}], "entropy": 3.21851220471, "size": 1593}], "cache_age":
        86399, "lead": null, "language": "English", "original_url": "http://youtu.be/tzD9BkXGJ1M",
        "url": "http://www.youtube.com/watch?v=tzD9BkXGJ1M", "media": {"duration":
        139, "width": 854, "html": "<iframe width=\"854\" height=\"480\" src=\"http://www.youtube.com/embed/tzD9BkXGJ1M?feature=oembed\"
        frameborder=\"0\" allowfullscreen></iframe>", "type": "video", "height": 480},
        "title": "What is CrossFit?", "offset": null, "content": null, "entities":
        [{"count": 5, "name": "CrossFit"}, {"count": 3, "name": "Google"}, {"count":
        3, "name": "Picasa"}, {"count": 3, "name": "Google Account"}, {"count": 1,
        "name": "Jackie Evancho"}, {"count": 1, "name": "Troian Bellisario & Jennifer
        Beals"}, {"count": 1, "name": "Nicki Minaj"}, {"count": 1, "name": "Mike Matusow"},
        {"count": 1, "name": "Chris Ferguson"}, {"count": 1, "name": "Justin Bieber"},
        {"count": 1, "name": "Navy"}, {"count": 1, "name": "Alan Carr"}], "keywords":
        [{"score": 70, "name": "crossfit"}, {"score": 32, "name": "google"}, {"score":
        30, "name": "picasa"}, {"score": 30, "name": "orkut"}, {"score": 26, "name":
        "chrome"}, {"score": 20, "name": "gmail"}, {"score": 16, "name": "youtube"},
        {"score": 14, "name": "video"}, {"score": 12, "name": "workouts"}, {"score":
        10, "name": "account"}], "published": null, "provider_name": "YouTube", "type":
        "html"}]'
  recorded_at: Wed, 20 Aug 2008 12:20:00 GMT
recorded_with: VCR 2.5.0
