---
http_interactions:
- request:
    method: get
    uri: http://api.embed.ly/1/oembed?key=&urls=http://youtu.be/tzD9BkXGJ1M
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Embedly-From-Cache:
      - ''
      Etag:
      - ! '"80c3b1e6a36b2b431a1f739e831b92c3587c7e5a"'
      X-Embedly-Process-Time:
      - '4356'
      X-Embedly-Host:
      - api02
    body:
      encoding: US-ASCII
      string: ! '[{"provider_url": "http://www.youtube.com/", "description": "What
        is CrossFit? CrossFit is an effective way to get fit. Anyone can do it. It
        is a fitness program that combines a wide variety of functional movements
        into a timed or scored workout. We do pull-ups, squats, push-ups, weightlifting,
        gymnastics, running, rowing, and a host of other movements.", "title": "What
        is CrossFit?", "url": "http://www.youtube.com/watch?v=tzD9BkXGJ1M", "author_name":
        "CrossFit", "height": 480, "thumbnail_width": 480, "width": 854, "html": "<iframe
        width=\"854\" height=\"480\" src=\"http://www.youtube.com/embed/tzD9BkXGJ1M?feature=oembed\"
        frameborder=\"0\" allowfullscreen></iframe>", "author_url": "http://www.youtube.com/user/CrossFitHQ",
        "version": "1.0", "provider_name": "YouTube", "thumbnail_url": "http://i1.ytimg.com/vi/tzD9BkXGJ1M/hqdefault.jpg",
        "type": "video", "thumbnail_height": 360}]'
  recorded_at: Wed, 19 Jun 2013 03:17:45 GMT
recorded_with: VCR 2.5.0
