- title @cothread.title
#thread

%script#bootstrap{ type: "text/json" }
  { "thread":
  =@cothread.to_json.html_safe
  }

=content_for :javascript do
  %script{ type: "text/javascript" }
    $(function () {
    data = JSON.parse($('#bootstrap').text());
    CojiroApp.init(data);
    });
