@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/utilities/general/clearfix";

/* Colors variables */
$white: #FFFFFF;
$cojiro-blue: #04B5F2;
$cojiro-light-blue: lighten($cojiro-blue, 40%);
$cojiro-gray: #aaa;
$cojiro-light-gray: #eee;

$statbar-background: $cojiro-light-gray;
$statbar-backgroundLight: #E5E5E5;
$statbar-text: #777777;

$link-url-height: 22px;
$link-description-height: 233px;
// 22px for border and padding
$link-height: $link-url-height + $link-description-height + 28px;

$hero-unit-background: $white;

$navbar-background: lighten($cojiro-light-blue, 50%);
$navbar-background-highlight: $white;
$navbar-border: $cojiro-light-blue;

@import "bootstrap";
