[class^="icon-glyphicons-"], [class*=" icon-glyphicons-"] {
      background-image: url("/assets/glyphicons.png");
}

.icon-glyphicons-glass{ background-position: 0 0; width: 24px; height: 24px; } 
.icon-glyphicons-leaf{ background-position: 0 -74px; width: 24px; height: 25px; } 
.icon-glyphicons-dog{ background-position: 0 -149px; width: 26px; height: 25px; } 
.icon-glyphicons-user{ background-position: 0 -224px; width: 23px; height: 22px; } 
.icon-glyphicons-girl{ background-position: 0 -296px; width: 22px; height: 22px; } 
.icon-glyphicons-car{ background-position: 0 -368px; width: 26px; height: 22px; } 
.icon-glyphicons-user_add{ background-position: 0 -440px; width: 28px; height: 22px; } 
.icon-glyphicons-user_remove{ background-position: 0 -512px; width: 26px; height: 22px; } 
.icon-glyphicons-film{ background-position: 0 -584px; width: 22px; height: 26px; } 
.icon-glyphicons-magic{ background-position: 0 -660px; width: 24px; height: 24px; } 
.icon-glyphicons-envelope{ background-position: 0 -734px; width: 24px; height: 16px; } 
.icon-glyphicons-camera{ background-position: 0 -800px; width: 26px; height: 20px; } 
.icon-glyphicons-heart{ background-position: 0 -870px; width: 24px; height: 22px; } 
.icon-glyphicons-beach_umbrella{ background-position: 0 -942px; width: 24px; height: 24px; } 
.icon-glyphicons-train{ background-position: 0 -1016px; width: 20px; height: 26px; } 
.icon-glyphicons-print{ background-position: 0 -1092px; width: 24px; height: 24px; } 
.icon-glyphicons-bin{ background-position: 0 -1166px; width: 20px; height: 28px; } 
.icon-glyphicons-music{ background-position: 0 -1244px; width: 21px; height: 25px; } 
.icon-glyphicons-note{ background-position: 0 -1319px; width: 18px; height: 25px; } 
.icon-glyphicons-heart_empty{ background-position: 0 -1394px; width: 24px; height: 22px; } 
.icon-glyphicons-home{ background-position: 0 -1466px; width: 27px; height: 26px; } 
.icon-glyphicons-snowflake{ background-position: 0 -1542px; width: 28px; height: 28px; } 
.icon-glyphicons-fire{ background-position: 0 -1620px; width: 21px; height: 26px; } 
.icon-glyphicons-magnet{ background-position: 0 -1696px; width: 21px; height: 23px; } 
.icon-glyphicons-parents{ background-position: 0 -1769px; width: 32px; height: 22px; } 
.icon-glyphicons-binoculars{ background-position: 0 -1841px; width: 24px; height: 24px; } 
.icon-glyphicons-road{ background-position: 0 -1915px; width: 28px; height: 24px; } 
.icon-glyphicons-search{ background-position: -82px 0; width: 24px; height: 24px; } 
.icon-glyphicons-cars{ background-position: -82px -74px; width: 36px; height: 25px; } 
.icon-glyphicons-notes_2{ background-position: -82px -149px; width: 20px; height: 27px; } 
.icon-glyphicons-pencil{ background-position: -82px -226px; width: 24px; height: 24px; } 
.icon-glyphicons-bus{ background-position: -82px -300px; width: 32px; height: 25px; } 
.icon-glyphicons-wifi_alt{ background-position: -82px -375px; width: 26px; height: 26px; } 
.icon-glyphicons-luggage{ background-position: -82px -451px; width: 20px; height: 27px; } 
.icon-glyphicons-old_man{ background-position: -82px -528px; width: 23px; height: 24px; } 
.icon-glyphicons-woman{ background-position: -82px -602px; width: 22px; height: 22px; } 
.icon-glyphicons-file{ background-position: -82px -674px; width: 19px; height: 24px; } 
.icon-glyphicons-coins{ background-position: -82px -748px; width: 26px; height: 24px; } 
.icon-glyphicons-airplane{ background-position: -82px -822px; width: 24px; height: 25px; } 
.icon-glyphicons-notes{ background-position: -82px -897px; width: 20px; height: 25px; } 
.icon-glyphicons-stats{ background-position: -82px -972px; width: 26px; height: 25px; } 
.icon-glyphicons-charts{ background-position: -82px -1047px; width: 27px; height: 24px; } 
.icon-glyphicons-pie_chart{ background-position: -82px -1121px; width: 26px; height: 25px; } 
.icon-glyphicons-group{ background-position: -82px -1196px; width: 35px; height: 22px; } 
.icon-glyphicons-keys{ background-position: -82px -1268px; width: 24px; height: 26px; } 
.icon-glyphicons-calendar{ background-position: -82px -1344px; width: 23px; height: 24px; } 
.icon-glyphicons-router{ background-position: -82px -1418px; width: 27px; height: 26px; } 
.icon-glyphicons-camera_small{ background-position: -82px -1494px; width: 22px; height: 24px; } 
.icon-glyphicons-dislikes{ background-position: -82px -1568px; width: 25px; height: 24px; } 
.icon-glyphicons-star{ background-position: -82px -1642px; width: 25px; height: 24px; } 
.icon-glyphicons-link{ background-position: -82px -1716px; width: 21px; height: 23px; } 
.icon-glyphicons-eye_open{ background-position: -82px -1789px; width: 31px; height: 17px; } 
.icon-glyphicons-eye_close{ background-position: -82px -1856px; width: 31px; height: 24px; } 
.icon-glyphicons-alarm{ background-position: -82px -1930px; width: 27px; height: 25px; } 
.icon-glyphicons-clock{ background-position: -168px 0; width: 24px; height: 24px; } 
.icon-glyphicons-stopwatch{ background-position: -168px -74px; width: 23px; height: 27px; } 
.icon-glyphicons-projector{ background-position: -168px -151px; width: 28px; height: 25px; } 
.icon-glyphicons-history{ background-position: -168px -226px; width: 25px; height: 26px; } 
.icon-glyphicons-truck{ background-position: -168px -302px; width: 32px; height: 27px; } 
.icon-glyphicons-cargo{ background-position: -168px -379px; width: 25px; height: 26px; } 
.icon-glyphicons-compass{ background-position: -168px -455px; width: 24px; height: 24px; } 
.icon-glyphicons-keynote{ background-position: -168px -529px; width: 20px; height: 30px; } 
.icon-glyphicons-paperclip{ background-position: -168px -609px; width: 26px; height: 24px; } 
.icon-glyphicons-power{ background-position: -168px -683px; width: 22px; height: 24px; } 
.icon-glyphicons-lightbulb{ background-position: -168px -757px; width: 20px; height: 26px; } 
.icon-glyphicons-tag{ background-position: -168px -833px; width: 24px; height: 24px; } 
.icon-glyphicons-tags{ background-position: -168px -907px; width: 30px; height: 24px; } 
.icon-glyphicons-cleaning{ background-position: -168px -981px; width: 24px; height: 25px; } 
.icon-glyphicons-ruller{ background-position: -168px -1056px; width: 27px; height: 14px; } 
.icon-glyphicons-gift{ background-position: -168px -1120px; width: 24px; height: 25px; } 
.icon-glyphicons-umbrella{ background-position: -168px -1195px; width: 26px; height: 28px; } 
.icon-glyphicons-book{ background-position: -168px -1273px; width: 22px; height: 24px; } 
.icon-glyphicons-bookmark{ background-position: -168px -1347px; width: 15px; height: 24px; } 
.icon-glyphicons-wifi{ background-position: -168px -1421px; width: 31px; height: 23px; } 
.icon-glyphicons-cup{ background-position: -168px -1494px; width: 22px; height: 24px; } 
.icon-glyphicons-stroller{ background-position: -168px -1568px; width: 25px; height: 26px; } 
.icon-glyphicons-headphones{ background-position: -168px -1644px; width: 24px; height: 24px; } 
.icon-glyphicons-headset{ background-position: -168px -1718px; width: 24px; height: 28px; } 
.icon-glyphicons-warning_sign{ background-position: -168px -1796px; width: 29px; height: 24px; } 
.icon-glyphicons-signal{ background-position: -168px -1870px; width: 24px; height: 24px; } 
.icon-glyphicons-retweet{ background-position: -168px -1944px; width: 28px; height: 15px; } 
.icon-glyphicons-refresh{ background-position: -254px 0; width: 25px; height: 26px; } 
.icon-glyphicons-roundabout{ background-position: -254px -76px; width: 26px; height: 26px; } 
.icon-glyphicons-random{ background-position: -254px -152px; width: 28px; height: 20px; } 
.icon-glyphicons-heat{ background-position: -254px -222px; width: 29px; height: 25px; } 
.icon-glyphicons-repeat{ background-position: -254px -297px; width: 23px; height: 26px; } 
.icon-glyphicons-display{ background-position: -254px -373px; width: 28px; height: 24px; } 
.icon-glyphicons-log_book{ background-position: -254px -447px; width: 22px; height: 24px; } 
.icon-glyphicons-address_book{ background-position: -254px -521px; width: 22px; height: 24px; } 
.icon-glyphicons-building{ background-position: -254px -595px; width: 24px; height: 26px; } 
.icon-glyphicons-eyedropper{ background-position: -254px -671px; width: 24px; height: 24px; } 
.icon-glyphicons-adjust{ background-position: -254px -745px; width: 26px; height: 26px; } 
.icon-glyphicons-tint{ background-position: -254px -821px; width: 24px; height: 25px; } 
.icon-glyphicons-crop{ background-position: -254px -896px; width: 26px; height: 26px; } 
.icon-glyphicons-vector_path_square{ background-position: -254px -972px; width: 24px; height: 24px; } 
.icon-glyphicons-vector_path_circle{ background-position: -254px -1046px; width: 24px; height: 24px; } 
.icon-glyphicons-vector_path_polygon{ background-position: -254px -1120px; width: 26px; height: 25px; } 
.icon-glyphicons-vector_path_line{ background-position: -254px -1195px; width: 24px; height: 24px; } 
.icon-glyphicons-vector_path_curve{ background-position: -254px -1269px; width: 24px; height: 24px; } 
.icon-glyphicons-vector_path_all{ background-position: -254px -1343px; width: 24px; height: 24px; } 
.icon-glyphicons-font{ background-position: -254px -1417px; width: 27px; height: 23px; } 
.icon-glyphicons-italic{ background-position: -254px -1490px; width: 14px; height: 24px; } 
.icon-glyphicons-bold{ background-position: -254px -1564px; width: 19px; height: 24px; } 
.icon-glyphicons-text_underline{ background-position: -254px -1638px; width: 20px; height: 24px; } 
.icon-glyphicons-text_strike{ background-position: -254px -1712px; width: 20px; height: 22px; } 
.icon-glyphicons-text_height{ background-position: -254px -1784px; width: 26px; height: 24px; } 
.icon-glyphicons-text_width{ background-position: -254px -1858px; width: 22px; height: 24px; } 
.icon-glyphicons-text_resize{ background-position: -254px -1932px; width: 26px; height: 26px; } 
.icon-glyphicons-left_indent{ background-position: -340px 0; width: 24px; height: 22px; } 
.icon-glyphicons-right_indent{ background-position: -340px -72px; width: 24px; height: 22px; } 
.icon-glyphicons-align_left{ background-position: -340px -144px; width: 24px; height: 21px; } 
.icon-glyphicons-align_center{ background-position: -340px -215px; width: 24px; height: 21px; } 
.icon-glyphicons-align_right{ background-position: -340px -286px; width: 24px; height: 21px; } 
.icon-glyphicons-justify{ background-position: -340px -357px; width: 24px; height: 21px; } 
.icon-glyphicons-list{ background-position: -340px -428px; width: 24px; height: 21px; } 
.icon-glyphicons-text_smaller{ background-position: -340px -499px; width: 22px; height: 16px; } 
.icon-glyphicons-text_bigger{ background-position: -340px -565px; width: 24px; height: 22px; } 
.icon-glyphicons-embed{ background-position: -340px -637px; width: 30px; height: 14px; } 
.icon-glyphicons-embed_close{ background-position: -340px -701px; width: 30px; height: 24px; } 
.icon-glyphicons-table{ background-position: -340px -775px; width: 24px; height: 24px; } 
.icon-glyphicons-message_full{ background-position: -340px -849px; width: 24px; height: 28px; } 
.icon-glyphicons-message_empty{ background-position: -340px -927px; width: 24px; height: 28px; } 
.icon-glyphicons-message_in{ background-position: -340px -1005px; width: 24px; height: 28px; } 
.icon-glyphicons-message_out{ background-position: -340px -1083px; width: 24px; height: 28px; } 
.icon-glyphicons-message_plus{ background-position: -340px -1161px; width: 29px; height: 23px; } 
.icon-glyphicons-message_minus{ background-position: -340px -1234px; width: 29px; height: 23px; } 
.icon-glyphicons-message_ban{ background-position: -340px -1307px; width: 29px; height: 23px; } 
.icon-glyphicons-message_flag{ background-position: -340px -1380px; width: 27px; height: 23px; } 
.icon-glyphicons-message_lock{ background-position: -340px -1453px; width: 28px; height: 24px; } 
.icon-glyphicons-message_new{ background-position: -340px -1527px; width: 28px; height: 22px; } 
.icon-glyphicons-inbox{ background-position: -340px -1599px; width: 24px; height: 23px; } 
.icon-glyphicons-inbox_plus{ background-position: -340px -1672px; width: 27px; height: 27px; } 
.icon-glyphicons-inbox_minus{ background-position: -340px -1749px; width: 27px; height: 27px; } 
.icon-glyphicons-inbox_lock{ background-position: -340px -1826px; width: 26px; height: 28px; } 
.icon-glyphicons-inbox_in{ background-position: -340px -1904px; width: 24px; height: 26px; } 
.icon-glyphicons-inbox_out{ background-position: -426px 0; width: 24px; height: 26px; } 
.icon-glyphicons-cogwheel{ background-position: -426px -76px; width: 24px; height: 24px; } 
.icon-glyphicons-cogwheels{ background-position: -426px -150px; width: 34px; height: 27px; } 
.icon-glyphicons-picture{ background-position: -426px -227px; width: 24px; height: 20px; } 
.icon-glyphicons-adjust_alt{ background-position: -426px -297px; width: 23px; height: 24px; } 
.icon-glyphicons-database_lock{ background-position: -426px -371px; width: 26px; height: 28px; } 
.icon-glyphicons-database_plus{ background-position: -426px -449px; width: 27px; height: 27px; } 
.icon-glyphicons-database_minus{ background-position: -426px -526px; width: 27px; height: 27px; } 
.icon-glyphicons-database_ban{ background-position: -426px -603px; width: 26px; height: 27px; } 
.icon-glyphicons-folder_open{ background-position: -426px -680px; width: 30px; height: 22px; } 
.icon-glyphicons-folder_plus{ background-position: -426px -752px; width: 29px; height: 25px; } 
.icon-glyphicons-folder_minus{ background-position: -426px -827px; width: 29px; height: 25px; } 
.icon-glyphicons-folder_lock{ background-position: -426px -902px; width: 28px; height: 26px; } 
.icon-glyphicons-folder_flag{ background-position: -426px -978px; width: 27px; height: 25px; } 
.icon-glyphicons-folder_new{ background-position: -426px -1053px; width: 28px; height: 24px; } 
.icon-glyphicons-edit{ background-position: -426px -1127px; width: 24px; height: 21px; } 
.icon-glyphicons-new_window{ background-position: -426px -1198px; width: 26px; height: 22px; } 
.icon-glyphicons-check{ background-position: -426px -1270px; width: 22px; height: 18px; } 
.icon-glyphicons-unchecked{ background-position: -426px -1338px; width: 18px; height: 18px; } 
.icon-glyphicons-more_windows{ background-position: -426px -1406px; width: 23px; height: 23px; } 
.icon-glyphicons-show_big_thumbnails{ background-position: -426px -1479px; width: 22px; height: 22px; } 
.icon-glyphicons-show_thumbnails{ background-position: -426px -1551px; width: 22px; height: 22px; } 
.icon-glyphicons-show_thumbnails_with_lines{ background-position: -426px -1623px; width: 24px; height: 15px; } 
.icon-glyphicons-show_lines{ background-position: -426px -1688px; width: 24px; height: 15px; } 
.icon-glyphicons-playlist{ background-position: -426px -1753px; width: 29px; height: 24px; } 
.icon-glyphicons-imac{ background-position: -426px -1827px; width: 26px; height: 22px; } 
.icon-glyphicons-macbook{ background-position: -426px -1899px; width: 28px; height: 15px; } 
.icon-glyphicons-ipad{ background-position: -512px 0; width: 22px; height: 27px; } 
.icon-glyphicons-iphone{ background-position: -512px -77px; width: 14px; height: 24px; } 
.icon-glyphicons-iphone_transfer{ background-position: -512px -151px; width: 29px; height: 24px; } 
.icon-glyphicons-iphone_exchange{ background-position: -512px -225px; width: 29px; height: 24px; } 
.icon-glyphicons-ipod{ background-position: -512px -299px; width: 14px; height: 22px; } 
.icon-glyphicons-ipod_shuffle{ background-position: -512px -371px; width: 15px; height: 13px; } 
.icon-glyphicons-ear_plugs{ background-position: -512px -434px; width: 20px; height: 24px; } 
.icon-glyphicons-record{ background-position: -512px -508px; width: 20px; height: 20px; } 
.icon-glyphicons-step_backward{ background-position: -512px -578px; width: 14px; height: 18px; } 
.icon-glyphicons-fast_backward{ background-position: -512px -646px; width: 25px; height: 18px; } 
.icon-glyphicons-rewind{ background-position: -512px -714px; width: 23px; height: 18px; } 
.icon-glyphicons-play{ background-position: -512px -782px; width: 16px; height: 18px; } 
.icon-glyphicons-pause{ background-position: -512px -850px; width: 10px; height: 16px; } 
.icon-glyphicons-stop{ background-position: -512px -916px; width: 14px; height: 14px; } 
.icon-glyphicons-forward{ background-position: -512px -980px; width: 23px; height: 18px; } 
.icon-glyphicons-fast_forward{ background-position: -512px -1048px; width: 25px; height: 18px; } 
.icon-glyphicons-step_forward{ background-position: -512px -1116px; width: 14px; height: 18px; } 
.icon-glyphicons-eject{ background-position: -512px -1184px; width: 18px; height: 17px; } 
.icon-glyphicons-facetime_video{ background-position: -512px -1251px; width: 24px; height: 16px; } 
.icon-glyphicons-download_alt{ background-position: -512px -1317px; width: 24px; height: 24px; } 
.icon-glyphicons-mute{ background-position: -512px -1391px; width: 22px; height: 15px; } 
.icon-glyphicons-volume_down{ background-position: -512px -1456px; width: 16px; height: 15px; } 
.icon-glyphicons-volume_up{ background-position: -512px -1521px; width: 24px; height: 26px; } 
.icon-glyphicons-screenshot{ background-position: -512px -1597px; width: 27px; height: 27px; } 
.icon-glyphicons-move{ background-position: -512px -1674px; width: 24px; height: 24px; } 
.icon-glyphicons-more{ background-position: -512px -1748px; width: 22px; height: 6px; } 
.icon-glyphicons-brightness_reduce{ background-position: -512px -1804px; width: 20px; height: 20px; } 
.icon-glyphicons-brightness_increase{ background-position: -512px -1874px; width: 24px; height: 24px; } 
.icon-glyphicons-circle_plus{ background-position: -512px -1948px; width: 26px; height: 26px; } 
.icon-glyphicons-circle_minus{ background-position: -598px 0; width: 26px; height: 26px; } 
.icon-glyphicons-circle_remove{ background-position: -598px -76px; width: 26px; height: 26px; } 
.icon-glyphicons-circle_ok{ background-position: -598px -152px; width: 26px; height: 26px; } 
.icon-glyphicons-circle_question_mark{ background-position: -598px -228px; width: 26px; height: 26px; } 
.icon-glyphicons-circle_info{ background-position: -598px -304px; width: 26px; height: 26px; } 
.icon-glyphicons-circle_exclamation_mark{ background-position: -598px -380px; width: 26px; height: 26px; } 
.icon-glyphicons-remove{ background-position: -598px -456px; width: 26px; height: 26px; } 
.icon-glyphicons-ok{ background-position: -598px -532px; width: 26px; height: 26px; } 
.icon-glyphicons-ban{ background-position: -598px -608px; width: 26px; height: 26px; } 
.icon-glyphicons-download{ background-position: -598px -684px; width: 26px; height: 26px; } 
.icon-glyphicons-upload{ background-position: -598px -760px; width: 26px; height: 26px; } 
.icon-glyphicons-shopping_cart{ background-position: -598px -836px; width: 26px; height: 23px; } 
.icon-glyphicons-lock{ background-position: -598px -909px; width: 21px; height: 26px; } 
.icon-glyphicons-unlock{ background-position: -598px -985px; width: 21px; height: 26px; } 
.icon-glyphicons-electricity{ background-position: -598px -1061px; width: 11px; height: 24px; } 
.icon-glyphicons-ok_2{ background-position: -598px -1135px; width: 25px; height: 19px; } 
.icon-glyphicons-remove_2{ background-position: -598px -1204px; width: 18px; height: 18px; } 
.icon-glyphicons-cart_out{ background-position: -598px -1272px; width: 26px; height: 25px; } 
.icon-glyphicons-cart_in{ background-position: -598px -1347px; width: 26px; height: 24px; } 
.icon-glyphicons-left_arrow{ background-position: -598px -1421px; width: 20px; height: 18px; } 
.icon-glyphicons-right_arrow{ background-position: -598px -1489px; width: 20px; height: 18px; } 
.icon-glyphicons-down_arrow{ background-position: -598px -1557px; width: 18px; height: 20px; } 
.icon-glyphicons-up_arrow{ background-position: -598px -1627px; width: 18px; height: 20px; } 
.icon-glyphicons-resize_small{ background-position: -598px -1697px; width: 24px; height: 24px; } 
.icon-glyphicons-resize_full{ background-position: -598px -1771px; width: 24px; height: 24px; } 
.icon-glyphicons-circle_arrow_left{ background-position: -598px -1845px; width: 26px; height: 26px; } 
.icon-glyphicons-circle_arrow_right{ background-position: -598px -1921px; width: 26px; height: 26px; } 
.icon-glyphicons-circle_arrow_top{ background-position: -684px 0; width: 26px; height: 26px; } 
.icon-glyphicons-circle_arrow_down{ background-position: -684px -76px; width: 26px; height: 26px; } 
.icon-glyphicons-play_button{ background-position: -684px -152px; width: 26px; height: 26px; } 
.icon-glyphicons-unshare{ background-position: -684px -228px; width: 24px; height: 18px; } 
.icon-glyphicons-share{ background-position: -684px -296px; width: 24px; height: 18px; } 
.icon-glyphicons-chevron-right{ background-position: -684px -364px; width: 15px; height: 22px; } 
.icon-glyphicons-chevron-left{ background-position: -684px -436px; width: 15px; height: 22px; } 
.icon-glyphicons-bluetooth{ background-position: -684px -508px; width: 14px; height: 24px; } 
.icon-glyphicons-euro{ background-position: -684px -582px; width: 22px; height: 23px; } 
.icon-glyphicons-usd{ background-position: -684px -655px; width: 17px; height: 26px; } 
.icon-glyphicons-gbp{ background-position: -684px -731px; width: 17px; height: 24px; } 
.icon-glyphicons-retweet_2{ background-position: -684px -805px; width: 33px; height: 21px; } 
.icon-glyphicons-moon{ background-position: -684px -876px; width: 21px; height: 24px; } 
.icon-glyphicons-sun{ background-position: -684px -950px; width: 24px; height: 24px; } 
.icon-glyphicons-cloud{ background-position: -684px -1024px; width: 25px; height: 16px; } 
.icon-glyphicons-direction{ background-position: -684px -1090px; width: 25px; height: 26px; } 
.icon-glyphicons-brush{ background-position: -684px -1166px; width: 25px; height: 22px; } 
.icon-glyphicons-pen{ background-position: -684px -1238px; width: 23px; height: 23px; } 
.icon-glyphicons-zoom_in{ background-position: -684px -1311px; width: 25px; height: 25px; } 
.icon-glyphicons-zoom_out{ background-position: -684px -1386px; width: 25px; height: 25px; } 
.icon-glyphicons-pin{ background-position: -684px -1461px; width: 10px; height: 24px; } 
.icon-glyphicons-albums{ background-position: -684px -1535px; width: 28px; height: 18px; } 
.icon-glyphicons-rotation_lock{ background-position: -684px -1603px; width: 27px; height: 24px; } 
.icon-glyphicons-flash{ background-position: -684px -1677px; width: 14px; height: 24px; } 
.icon-glyphicons-google_maps{ background-position: -684px -1751px; width: 16px; height: 24px; } 
.icon-glyphicons-anchor{ background-position: -684px -1825px; width: 24px; height: 25px; } 
.icon-glyphicons-conversation{ background-position: -684px -1900px; width: 25px; height: 18px; } 
.icon-glyphicons-chat{ background-position: -770px 0; width: 24px; height: 19px; } 
.icon-glyphicons-male{ background-position: -770px -69px; width: 22px; height: 22px; } 
.icon-glyphicons-female{ background-position: -770px -141px; width: 16px; height: 27px; } 
.icon-glyphicons-asterisk{ background-position: -770px -218px; width: 20px; height: 20px; } 
.icon-glyphicons-divide{ background-position: -770px -288px; width: 18px; height: 16px; } 
.icon-glyphicons-snorkel_diving{ background-position: -770px -354px; width: 27px; height: 25px; } 
.icon-glyphicons-scuba_diving{ background-position: -770px -429px; width: 27px; height: 24px; } 
.icon-glyphicons-oxygen_bottle{ background-position: -770px -503px; width: 22px; height: 27px; } 
.icon-glyphicons-fins{ background-position: -770px -580px; width: 31px; height: 27px; } 
.icon-glyphicons-fishes{ background-position: -770px -657px; width: 28px; height: 30px; } 
.icon-glyphicons-boat{ background-position: -770px -737px; width: 24px; height: 24px; } 
.icon-glyphicons-delete{ background-position: -770px -811px; width: 26px; height: 17px; } 
.icon-glyphicons-sheriffs_star{ background-position: -770px -878px; width: 24px; height: 26px; } 
.icon-glyphicons-qrcode{ background-position: -770px -954px; width: 24px; height: 24px; } 
.icon-glyphicons-barcode{ background-position: -770px -1028px; width: 24px; height: 24px; } 
.icon-glyphicons-pool{ background-position: -770px -1102px; width: 24px; height: 24px; } 
.icon-glyphicons-buoy{ background-position: -770px -1176px; width: 24px; height: 24px; } 
.icon-glyphicons-spade{ background-position: -770px -1250px; width: 24px; height: 24px; } 
.icon-glyphicons-bank{ background-position: -770px -1324px; width: 24px; height: 24px; } 
.icon-glyphicons-vcard{ background-position: -770px -1398px; width: 22px; height: 24px; } 
.icon-glyphicons-electrical_plug{ background-position: -770px -1472px; width: 18px; height: 25px; } 
.icon-glyphicons-flag{ background-position: -770px -1547px; width: 21px; height: 26px; } 
.icon-glyphicons-credit_card{ background-position: -770px -1623px; width: 26px; height: 19px; } 
.icon-glyphicons-keyboard_wireless{ background-position: -770px -1692px; width: 27px; height: 20px; } 
.icon-glyphicons-keyboard_wireless{ background-position: -770px -1762px; width: 27px; height: 26px; } 
.icon-glyphicons-shield{ background-position: -770px -1838px; width: 22px; height: 24px; } 
.icon-glyphicons-ring{ background-position: -770px -1912px; width: 21px; height: 24px; } 
.icon-glyphicons-cake{ background-position: -856px 0; width: 22px; height: 24px; } 
.icon-glyphicons-drink{ background-position: -856px -74px; width: 23px; height: 24px; } 
.icon-glyphicons-beer{ background-position: -856px -148px; width: 23px; height: 24px; } 
.icon-glyphicons-fast_food{ background-position: -856px -222px; width: 28px; height: 24px; } 
.icon-glyphicons-cutlery{ background-position: -856px -296px; width: 16px; height: 24px; } 
.icon-glyphicons-pizza{ background-position: -856px -370px; width: 26px; height: 29px; } 
.icon-glyphicons-birthday_cake{ background-position: -856px -449px; width: 26px; height: 29px; } 
.icon-glyphicons-tablet{ background-position: -856px -528px; width: 25px; height: 25px; } 
.icon-glyphicons-settings{ background-position: -856px -603px; width: 24px; height: 24px; } 
.icon-glyphicons-bullets{ background-position: -856px -677px; width: 27px; height: 23px; } 
.icon-glyphicons-cardio{ background-position: -856px -750px; width: 25px; height: 26px; } 
.icon-glyphicons-t-shirt{ background-position: -856px -826px; width: 28px; height: 23px; } 
.icon-glyphicons-pants{ background-position: -856px -899px; width: 19px; height: 24px; } 
.icon-glyphicons-sweater{ background-position: -856px -973px; width: 29px; height: 24px; } 
.icon-glyphicons-fabric{ background-position: -856px -1047px; width: 27px; height: 22px; } 
.icon-glyphicons-leather{ background-position: -856px -1119px; width: 23px; height: 24px; } 
.icon-glyphicons-scissors{ background-position: -856px -1193px; width: 24px; height: 27px; } 
.icon-glyphicons-bomb{ background-position: -856px -1270px; width: 27px; height: 25px; } 
.icon-glyphicons-skull{ background-position: -856px -1345px; width: 22px; height: 24px; } 
.icon-glyphicons-celebration{ background-position: -856px -1419px; width: 24px; height: 25px; } 
.icon-glyphicons-tea_kettle{ background-position: -856px -1494px; width: 26px; height: 23px; } 
.icon-glyphicons-french_press{ background-position: -856px -1567px; width: 23px; height: 25px; } 
.icon-glyphicons-coffe_cup{ background-position: -856px -1642px; width: 25px; height: 19px; } 
.icon-glyphicons-pot{ background-position: -856px -1711px; width: 27px; height: 22px; } 
.icon-glyphicons-grater{ background-position: -856px -1783px; width: 18px; height: 24px; } 
.icon-glyphicons-kettle{ background-position: -856px -1857px; width: 23px; height: 24px; } 
.icon-glyphicons-hospital{ background-position: -856px -1931px; width: 24px; height: 24px; } 
.icon-glyphicons-hospital_h{ background-position: -942px 0; width: 24px; height: 24px; } 
.icon-glyphicons-microphone{ background-position: -942px -74px; width: 17px; height: 24px; } 
.icon-glyphicons-webcam{ background-position: -942px -148px; width: 19px; height: 24px; } 
.icon-glyphicons-temple_christianity_church{ background-position: -942px -222px; width: 24px; height: 25px; } 
.icon-glyphicons-temple_islam{ background-position: -942px -297px; width: 25px; height: 24px; } 
.icon-glyphicons-temple_hindu{ background-position: -942px -371px; width: 24px; height: 24px; } 
.icon-glyphicons-temple_buddhist{ background-position: -942px -445px; width: 28px; height: 22px; } 
.icon-glyphicons-bicycle{ background-position: -942px -517px; width: 33px; height: 21px; } 
.icon-glyphicons-life_preserver{ background-position: -942px -588px; width: 24px; height: 24px; } 
.icon-glyphicons-share_alt{ background-position: -942px -662px; width: 22px; height: 22px; } 
.icon-glyphicons-comments{ background-position: -942px -734px; width: 24px; height: 23px; } 
.icon-glyphicons-flower{ background-position: -942px -807px; width: 19px; height: 25px; } 
.icon-glyphicons-baseball{ background-position: -942px -882px; width: 25px; height: 26px; } 
.icon-glyphicons-rugby{ background-position: -942px -958px; width: 23px; height: 24px; } 
.icon-glyphicons-ax{ background-position: -942px -1032px; width: 27px; height: 24px; } 
.icon-glyphicons-table_tennis{ background-position: -942px -1106px; width: 24px; height: 24px; } 
.icon-glyphicons-bowling{ background-position: -942px -1180px; width: 24px; height: 24px; } 
.icon-glyphicons-tree_conifer{ background-position: -942px -1254px; width: 21px; height: 24px; } 
.icon-glyphicons-tree_deciduous{ background-position: -942px -1328px; width: 20px; height: 25px; } 
.icon-glyphicons-more_items{ background-position: -942px -1403px; width: 21px; height: 24px; } 
.icon-glyphicons-sort{ background-position: -942px -1477px; width: 25px; height: 25px; } 
.icon-glyphicons-filter{ background-position: -942px -1552px; width: 20px; height: 24px; } 
.icon-glyphicons-gamepad{ background-position: -942px -1626px; width: 27px; height: 19px; } 
.icon-glyphicons-playing_dices{ background-position: -942px -1695px; width: 27px; height: 23px; } 
.icon-glyphicons-calculator{ background-position: -942px -1768px; width: 21px; height: 24px; } 
.icon-glyphicons-tie{ background-position: -942px -1842px; width: 11px; height: 26px; } 
.icon-glyphicons-wallet{ background-position: -942px -1918px; width: 25px; height: 20px; } 
.icon-glyphicons-piano{ background-position: -1028px 0; width: 23px; height: 24px; } 
.icon-glyphicons-sampler{ background-position: -1028px -74px; width: 27px; height: 22px; } 
.icon-glyphicons-podium{ background-position: -1028px -146px; width: 25px; height: 20px; } 
.icon-glyphicons-soccer_ball{ background-position: -1028px -216px; width: 25px; height: 25px; } 
.icon-glyphicons-blog{ background-position: -1028px -291px; width: 21px; height: 23px; } 
.icon-glyphicons-dashboard{ background-position: -1028px -364px; width: 24px; height: 24px; } 
.icon-glyphicons-certificate{ background-position: -1028px -438px; width: 17px; height: 25px; } 
.icon-glyphicons-bell{ background-position: -1028px -513px; width: 24px; height: 24px; } 
.icon-glyphicons-candle{ background-position: -1028px -587px; width: 20px; height: 25px; } 
.icon-glyphicons-pushpin{ background-position: -1028px -662px; width: 23px; height: 23px; } 
.icon-glyphicons-iphone_shake{ background-position: -1028px -735px; width: 24px; height: 24px; } 
.icon-glyphicons-pin_flag{ background-position: -1028px -809px; width: 30px; height: 22px; } 
.icon-glyphicons-turtle{ background-position: -1028px -881px; width: 28px; height: 16px; } 
.icon-glyphicons-rabbit{ background-position: -1028px -947px; width: 26px; height: 22px; } 
.icon-glyphicons-globe{ background-position: -1028px -1019px; width: 24px; height: 24px; } 
.icon-glyphicons-briefcase{ background-position: -1028px -1093px; width: 24px; height: 21px; } 
.icon-glyphicons-hdd{ background-position: -1028px -1164px; width: 24px; height: 21px; } 
.icon-glyphicons-thumbs_up{ background-position: -1028px -1235px; width: 24px; height: 21px; } 
.icon-glyphicons-thumbs_down{ background-position: -1028px -1306px; width: 24px; height: 21px; } 
.icon-glyphicons-hand_right{ background-position: -1028px -1377px; width: 26px; height: 19px; } 
.icon-glyphicons-hand_left{ background-position: -1028px -1446px; width: 26px; height: 19px; } 
.icon-glyphicons-hand_up{ background-position: -1028px -1515px; width: 19px; height: 26px; } 
.icon-glyphicons-hand_down{ background-position: -1028px -1591px; width: 19px; height: 27px; } 
.icon-glyphicons-fullscreen{ background-position: -1028px -1668px; width: 24px; height: 24px; } 
.icon-glyphicons-shopping_bag{ background-position: -1028px -1742px; width: 23px; height: 26px; } 
.icon-glyphicons-book_open{ background-position: -1028px -1818px; width: 24px; height: 22px; } 
.icon-glyphicons-nameplate{ background-position: -1028px -1890px; width: 24px; height: 21px; } 
.icon-glyphicons-nameplate_alt{ background-position: -1114px 0; width: 24px; height: 22px; } 
.icon-glyphicons-vases{ background-position: -1114px -72px; width: 24px; height: 24px; } 
.icon-glyphicons-bullhorn{ background-position: -1114px -146px; width: 25px; height: 20px; } 
.icon-glyphicons-dumbbell{ background-position: -1114px -216px; width: 26px; height: 16px; } 
.icon-glyphicons-suitcase{ background-position: -1114px -282px; width: 24px; height: 22px; } 
.icon-glyphicons-file_import{ background-position: -1114px -354px; width: 22px; height: 24px; } 
.icon-glyphicons-file_export{ background-position: -1114px -428px; width: 23px; height: 24px; } 
.icon-glyphicons-bug{ background-position: -1114px -502px; width: 22px; height: 24px; } 
.icon-glyphicons-crown{ background-position: -1114px -576px; width: 26px; height: 25px; } 
.icon-glyphicons-smoking{ background-position: -1114px -651px; width: 24px; height: 26px; } 
.icon-glyphicons-cloud_upload{ background-position: -1114px -727px; width: 25px; height: 22px; } 
.icon-glyphicons-cloud_download{ background-position: -1114px -799px; width: 25px; height: 22px; } 
.icon-glyphicons-restart{ background-position: -1114px -871px; width: 25px; height: 25px; } 
.icon-glyphicons-security_camera{ background-position: -1114px -946px; width: 24px; height: 23px; } 
.icon-glyphicons-expand{ background-position: -1114px -1019px; width: 19px; height: 19px; } 
.icon-glyphicons-collapse{ background-position: -1114px -1088px; width: 19px; height: 19px; } 
.icon-glyphicons-collapse_top{ background-position: -1114px -1157px; width: 19px; height: 19px; } 
.icon-glyphicons-globe_af{ background-position: -1114px -1226px; width: 24px; height: 24px; } 
.icon-glyphicons-global{ background-position: -1114px -1300px; width: 24px; height: 24px; } 
.icon-glyphicons-spray{ background-position: -1114px -1374px; width: 22px; height: 27px; } 
.icon-glyphicons-nails{ background-position: -1114px -1451px; width: 22px; height: 26px; } 
.icon-glyphicons-claw_hammer{ background-position: -1114px -1527px; width: 27px; height: 26px; } 
.icon-glyphicons-classic_hammer{ background-position: -1114px -1603px; width: 25px; height: 26px; } 
.icon-glyphicons-hand_saw{ background-position: -1114px -1679px; width: 26px; height: 26px; } 
.icon-glyphicons-riflescope{ background-position: -1114px -1755px; width: 25px; height: 25px; } 
.icon-glyphicons-electrical_socket_eu{ background-position: -1114px -1830px; width: 23px; height: 23px; } 
.icon-glyphicons-electrical_socket_us{ background-position: -1114px -1903px; width: 23px; height: 23px; } 
.icon-glyphicons-message_forward{ background-position: -1200px 0; width: 31px; height: 18px; } 
.icon-glyphicons-coat_hanger{ background-position: -1200px -68px; width: 24px; height: 21px; } 
.icon-glyphicons-dress{ background-position: -1200px -139px; width: 18px; height: 24px; } 
.icon-glyphicons-bathrobe{ background-position: -1200px -213px; width: 21px; height: 25px; } 
.icon-glyphicons-shirt{ background-position: -1200px -288px; width: 25px; height: 23px; } 
.icon-glyphicons-underwear{ background-position: -1200px -361px; width: 24px; height: 24px; } 
.icon-glyphicons-log_in{ background-position: -1200px -435px; width: 22px; height: 18px; } 
.icon-glyphicons-log_out{ background-position: -1200px -503px; width: 21px; height: 18px; } 
.icon-glyphicons-exit{ background-position: -1200px -571px; width: 26px; height: 23px; } 
.icon-glyphicons-new_window_alt{ background-position: -1200px -644px; width: 19px; height: 19px; } 
.icon-glyphicons-video_sd{ background-position: -1200px -713px; width: 25px; height: 21px; } 
.icon-glyphicons-video_hd{ background-position: -1200px -784px; width: 25px; height: 21px; } 
.icon-glyphicons-subtitles{ background-position: -1200px -855px; width: 25px; height: 21px; } 
.icon-glyphicons-sound_stereo{ background-position: -1200px -926px; width: 25px; height: 21px; } 
.icon-glyphicons-sound_dolby{ background-position: -1200px -997px; width: 25px; height: 21px; } 
.icon-glyphicons-sound_5_1{ background-position: -1200px -1068px; width: 25px; height: 21px; } 
.icon-glyphicons-sound_6_1{ background-position: -1200px -1139px; width: 25px; height: 21px; } 
.icon-glyphicons-sound_7_1{ background-position: -1200px -1210px; width: 25px; height: 21px; } 
.icon-glyphicons-copyright_mark{ background-position: -1200px -1281px; width: 22px; height: 22px; } 
.icon-glyphicons-registration_mark{ background-position: -1200px -1353px; width: 22px; height: 22px; } 
.icon-glyphicons-radar{ background-position: -1200px -1425px; width: 24px; height: 24px; } 
.icon-glyphicons-skateboard{ background-position: -1200px -1499px; width: 26px; height: 18px; } 
.icon-glyphicons-golf_course{ background-position: -1200px -1567px; width: 24px; height: 24px; } 
.icon-glyphicons-sorting{ background-position: -1200px -1641px; width: 24px; height: 23px; } 
.icon-glyphicons-sort-by-alphabet{ background-position: -1200px -1714px; width: 22px; height: 23px; } 
.icon-glyphicons-sort-by-alphabet-alt{ background-position: -1200px -1787px; width: 22px; height: 23px; } 
.icon-glyphicons-sort-by-order{ background-position: -1200px -1860px; width: 21px; height: 23px; } 
.icon-glyphicons-sort-by-order-alt{ background-position: -1200px -1933px; width: 21px; height: 23px; } 
.icon-glyphicons-sort-by-attributes{ background-position: -1286px 0; width: 23px; height: 23px; } 
.icon-glyphicons-sort-by-attributes-alt{ background-position: -1286px -73px; width: 23px; height: 23px; } 
.icon-glyphicons-compressed{ background-position: -1286px -146px; width: 23px; height: 21px; } 
.icon-glyphicons-package{ background-position: -1286px -217px; width: 24px; height: 21px; } 
.icon-glyphicons-cloud_plus{ background-position: -1286px -288px; width: 26px; height: 22px; } 
.icon-glyphicons-cloud_minus{ background-position: -1286px -360px; width: 26px; height: 22px; } 
.icon-glyphicons-disk_save{ background-position: -1286px -432px; width: 24px; height: 23px; } 
.icon-glyphicons-disk_open{ background-position: -1286px -505px; width: 24px; height: 23px; } 
.icon-glyphicons-disk_saved{ background-position: -1286px -578px; width: 24px; height: 22px; } 
.icon-glyphicons-disk_remove{ background-position: -1286px -650px; width: 24px; height: 21px; } 
.icon-glyphicons-disk_import{ background-position: -1286px -721px; width: 24px; height: 23px; } 
.icon-glyphicons-disk_export{ background-position: -1286px -794px; width: 24px; height: 22px; } 
.icon-glyphicons-tower{ background-position: -1286px -866px; width: 19px; height: 24px; } 
.icon-glyphicons-send{ background-position: -1286px -940px; width: 23px; height: 23px; } 
.icon-glyphicons-git_branch{ background-position: -1286px -1013px; width: 19px; height: 24px; } 
.icon-glyphicons-git_create{ background-position: -1286px -1087px; width: 21px; height: 24px; } 
.icon-glyphicons-git_private{ background-position: -1286px -1161px; width: 21px; height: 24px; } 
.icon-glyphicons-git_delete{ background-position: -1286px -1235px; width: 21px; height: 24px; } 
.icon-glyphicons-git_merge{ background-position: -1286px -1309px; width: 21px; height: 24px; } 
.icon-glyphicons-git_pull_request{ background-position: -1286px -1383px; width: 20px; height: 24px; } 
.icon-glyphicons-git_compare{ background-position: -1286px -1457px; width: 20px; height: 23px; } 
.icon-glyphicons-git_commit{ background-position: -1286px -1530px; width: 22px; height: 22px; } 
.icon-glyphicons-construction_cone{ background-position: -1286px -1602px; width: 22px; height: 23px; } 
.icon-glyphicons-shoe_steps{ background-position: -1286px -1675px; width: 16px; height: 24px; } 
.icon-glyphicons-plus{ background-position: -1286px -1749px; width: 20px; height: 20px; } 
.icon-glyphicons-minus{ background-position: -1286px -1819px; width: 18px; height: 4px; } 
.icon-glyphicons-redo{ background-position: -1286px -1873px; width: 24px; height: 14px; } 
.icon-glyphicons-undo{ background-position: -1286px -1937px; width: 24px; height: 14px; } 
.icon-glyphicons-golf{ background-position: -1372px 0; width: 23px; height: 26px; } 
.icon-glyphicons-hockey{ background-position: -1372px -76px; width: 24px; height: 24px; } 
.icon-glyphicons-pipe{ background-position: -1372px -150px; width: 23px; height: 20px; } 
.icon-glyphicons-wrench{ background-position: -1372px -220px; width: 24px; height: 24px; } 
.icon-glyphicons-folder_closed{ background-position: -1372px -294px; width: 24px; height: 22px; } 
.icon-glyphicons-phone_alt{ background-position: -1372px -366px; width: 24px; height: 22px; } 
.icon-glyphicons-earphone{ background-position: -1372px -438px; width: 24px; height: 24px; } 
.icon-glyphicons-floppy_disk{ background-position: -1372px -512px; width: 22px; height: 22px; } 
.icon-glyphicons-floppy_saved{ background-position: -1372px -584px; width: 22px; height: 22px; } 
.icon-glyphicons-floppy_remove{ background-position: -1372px -656px; width: 22px; height: 22px; } 
.icon-glyphicons-floppy_save{ background-position: -1372px -728px; width: 22px; height: 22px; } 
.icon-glyphicons-floppy_open{ background-position: -1372px -800px; width: 22px; height: 22px; } 
.icon-glyphicons-translate{ background-position: -1372px -872px; width: 23px; height: 23px; } 
.icon-glyphicons-fax{ background-position: -1372px -945px; width: 24px; height: 23px; } 
.icon-glyphicons-factory{ background-position: -1372px -1018px; width: 24px; height: 23px; } 
.icon-glyphicons-shop_window{ background-position: -1372px -1091px; width: 25px; height: 23px; } 
.icon-glyphicons-shop{ background-position: -1372px -1164px; width: 25px; height: 23px; } 
.icon-glyphicons-kiosk{ background-position: -1372px -1237px; width: 25px; height: 23px; } 
.icon-glyphicons-kiosk_wheels{ background-position: -1372px -1310px; width: 25px; height: 23px; } 
.icon-glyphicons-kiosk_light{ background-position: -1372px -1383px; width: 25px; height: 23px; } 
.icon-glyphicons-kiosk_food{ background-position: -1372px -1456px; width: 24px; height: 24px; } 
.icon-glyphicons-transfer{ background-position: -1372px -1530px; width: 24px; height: 22px; } 
.icon-glyphicons-money{ background-position: -1372px -1602px; width: 28px; height: 20px; } 
.icon-glyphicons-header{ background-position: -1372px -1672px; width: 23px; height: 20px; } 
.icon-glyphicons-blacksmith{ background-position: -1372px -1742px; width: 22px; height: 23px; } 
.icon-glyphicons-saw_blade{ background-position: -1372px -1815px; width: 22px; height: 22px; } 
.icon-glyphicons-basketball{ background-position: -1372px -1887px; width: 23px; height: 23px; } 
.icon-glyphicons-server{ background-position: -1458px 0; width: 22px; height: 21px; } 
.icon-glyphicons-server_plus{ background-position: -1458px -71px; width: 27px; height: 25px; } 
.icon-glyphicons-server_minus{ background-position: -1458px -146px; width: 28px; height: 25px; } 
.icon-glyphicons-server_ban{ background-position: -1458px -221px; width: 28px; height: 25px; } 
.icon-glyphicons-server_flag{ background-position: -1458px -296px; width: 27px; height: 25px; } 
.icon-glyphicons-server_lock{ background-position: -1458px -371px; width: 28px; height: 26px; } 
.icon-glyphicons-server_new{ background-position: -1458px -447px; width: 28px; height: 24px; } 
