@import 'base';

/* Navbar */

.navbar-inner {
  @include box-shadow(0 0 1px 0px $cojiroGray !important);
  border-bottom: 4px solid $cojiroGray !important;
//  background-image: none !important;

  a.dropdown-toggle:hover { cursor: pointer }
}

.hero-unit {
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 10px !important;

  h1 {
    margin-bottom: 20px !important;
  }
}


/* Home */

/* fix to get thread list to appear below top-right form */

#threads {
  clear: both;
}

tbody > {
  .clickable {
    cursor: pointer;
  }
}

#thread-filter {
  display: block;
  float: right;
  margin-left: 10px;
}

/* Thread show page */

/* Statbar underneath the title */

.statbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: $statbarBackground; /* Old browsers */
  @include background(linear-gradient(top, $statbarBackground 0%, $statbarBackground 100%));
  @include border-radius(6px);
  border: 2px solid $statbarBorder;

  .nav {
    padding: 0;
    margin: 0;
  }
}

ul.nav-pills {
  height: 50px;
}

/* reproduce .navpills link formatting for non-link list items */
.nav-pills > {
  li {
    //border-right: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 14px;
  }
  li > a {
    padding: 0 !important;
    margin: 0 !important;
  }
  li.sep {
    border-radius: 0px;
    padding: 0 !important;
    margin-top: 0;
    height: 100%;
    border-right: 2px solid $statbarBorder;
  }
  li.avatar {
    padding-top: 8px;
  }
  li > a.unstyled {
    padding: 0;
    margin: 0;
  }
}

.stat, .date {
  font-weight: bold;
  color: black
}

.name {
  color: black;
  font-weight: bold;
}

.handle {
  color: black;
}

.stattext, .status {
  text-transform: uppercase;
  font-size: 90%;
  color: $statbarText;
}

/* Thread area */
.thread {
  h1 {
    font-size: 500%;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 80px;
    margin-right: 20px;
    input, textarea {
      width: 100%;
    }
  }
  h2 {
    font-weight: normal;
    margin-bottom: 40px;
    input, textarea {
      width: 100%;
    }
  }
  // based on bootstrap "thumbnail/thumbnails" classes
  .links {
    @include makeRow();
  }
  .link {
    @include makeColumn(3,0);
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .link-inner {
    display: block;
    overflow: hidden;
    height: $linkHeight;
    line-height: $baseLineHeight;
    @include border-radius(8px);
    @include box-shadow(#{0 1px 3px rgba(0,0,0,.055)});
    @include transition(all .2s ease-in-out);
    background: $cojiroLightGray;
    a {
      text-decoration: none;
      color: $black;
    }
    a.add-link:hover {
      cursor: pointer;
    }
    .url {
      color: $black;
      display: block;
      overflow: hidden;
      height: $linkUrlHeight;
      border-bottom: 2px solid white;
      padding: 10px;
      span.lang {
        padding: 2px;
        font-size: $baseFontSize * 0.8;
        text-transform: uppercase;
        background: darken($cojiroLightGray, 20%);
        color: $white;
      }
      span.site {
        font-size: $baseFontSize;
      }
    }
    .url:hover {
      background: $cojiroGray;
    }

    .description {
      display: block;
      height: $linkDescriptionHeight;
      border-bottom: 5px solid $cojiroLightGray;
    }
    .description, .add-link {
      overflow: hidden;
      padding: 10px;
      margin-bottom: 15px;
    }
    .summary textarea {
      height: $linkDescriptionHeight / 2;
    }
    .add-link {
      text-align: center;
      height: $linkHeight/2 + 50px;
      padding-top: $linkHeight/2 - 50px;
      display: block;
      text-decoration: none;
    }

    .add-link-button {
      background-image: url('plus-mark.png');
      background-repeat: no-repeat;
      background-position: center;
      height: 80px;
      width: 100%;
    }

    h3 {
      font-size: $baseFontSize * 1.4;
      line-height: $baseLineHeight * 1.4;
    }

  }
  // Add a hover state for linked versions only
  a.link:hover {
    border-color: $linkColor;
    @include box-shadow(#{0 1px 4px rgba(0,105,214,.25)});
  }

  // Images and captions
  .link > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .link .caption {
    padding: 9px;
    color: $gray;
  }
}

/* -------- Add link dialog ----- */

form.register-url-form {
  text-align: center;
}

form.confirm-link-details-form {
  input[name='title'] {
    width: 90%;
  }
}

#modal.confirm-link-details {
  width: 900px;
  margin-left: -450px;

  .modal-body {
    max-height: 80%;
  }
}

@import "translatable/in_place_field";
